h1.logo > span
    margin-right 0.5em
    font-size 2em
    vertical-align middle
    color accent-color

div.search
    margin-top 2em

    button.btn
        color accent-color
        background-color input-background-color

    button.btn:hover
        background-color accent-color
        color text-color

.nav-pills
    margin-top 2em

.nav-pills > li > a
    font-weight 300

.nav-pills > li > a:hover, .nav-pills > li > a:focus
    background-color input-background-color

.nav-pills > li.active > a, .nav-pills > li.active > a:hover
    background-color accent-color
    font-weight bold
