.listitem
    background-color darken(background-color, 10%)
    padding 1em
    cursor pointer

.listitem:first-child
    margin-top 1em

.listitem:last-child
    margin-bottom 1em

.listitem:hover
    background-color lighten(background-color, 10%)

.listitem.success
    background-color darken(green, 20%)

.listitem.success:hover
    background-color green
