body
    color text-color
    background-color background-color

h1
    color header-color

hr
    border-color input-background-color

input.form-control, textarea.form-control
    background-color input-background-color
    border-color input-background-color
    color text-color

table.table > thead
    color disabled-color

table.table > tbody td
    border-color input-background-color

.btn-link
    color accent-color !important

.btn-link:hover
    text-decoration underline !important

.panel
    background-color transparent
